<!DOCTYPE html>

<html>
<head>
    <link href="~/WeatherAppStyle.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body class="﻿bodyClass">
    <div class="page-content">
        <div class="margin-bottom">
            <h2>Weather</h2>


            <div>
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
