<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="flex full-size-height">
        <div >
            <h5>I the second view. Estableshing dinamicaly</h5>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
